/* the navbar styling */
.navbar-effect ul li a:hover{
    background-color: yellowgreen;
    color: white !important;
}

.nav-link{
    color: yellowgreen;
}
.carousel-caption {
    color: black !important;
}
.carousel-indicators button{
    background-color: black !important;
}
